<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <title>Agregar Videojuegos</title>
</head>
<body>
  <div class="container mt-5">
    <h1 th:text="${product.id == null ? 'Agregar Producto' : 'Editar Producto'}" class="text-center"></h1>
    <form th:action="@{${product.id == null} ? '/add-product' : '/product/edit/'+${product.id}}" th:object="${product}" method="post">
      <div class="mb-3">
        <label class="form-label" form="name">Nombre</label>
        <input th:field="*{name}" class="form-control" type="text" required>
      </div>
      <div class="mb-3">
        <label class="form-label" form="precio">Precio</label>
        <input th:field="*{precio}" class="form-control" type="number" step="0.01" min="0" required>
      </div>
      <div class="mb-3">
        <label class="form-label" form="stock">Stock</label>
        <input th:field="*{stock}" class="form-control" type="number" required>
      </div>
      <div class="mb-3">
        <label class="form-label" form="description">Descripción</label>
        <textarea th:field="*{description}" class="form-control" type="text" rows="3" required></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label" form="category">Categoría</label>
        <select th:field="*{category}" class="form-control" required>
          <option value="" selected>Seleccionar Categoría</option>
          <th:block th:each="category : ${categories}">
            <option th:value="${category.id}" th:text="${category.name}"></option>
          </th:block>
        </select>
      </div>
      <button class="btn btn-success mb-4" type="submit">Guardar Producto</button>
    </form>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</html>